html {
    font-size: 100%; //lets user have control over size of text on their screen by zooming in or out or adjusting the default font size on thier browser
    
    box-sizing: border-box; //important!! an element will have padding but it won't add on to the width
}

*,*::before,*::after {    // inherit the box sizing in all the other elements
    box-sizing: inherit;
}

body {
    font-family: $fontFamily;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    background-color: $grayishBlue;;
   

}

.wrapper {
    width: 321px;
    height: 499px;
    background-color: $white;
    color: $darkBlue;

    .qr-code {
        background-image: url(../images/image-qr-code.png);
        background-size: 290px 289px;
        background-repeat: no-repeat;
        //background-attachment: scroll;
        width: 290px;
        height: 289px;
        margin: 17px 16px;
        
    }
}